<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">Portfolio</h2>
            <div class="intro">
            <p>Welcome to my online portfolio. Want some help building your software?</p>
            
            </div>
            <a class="btn btn-primary" routerLink="../contact"><i class="fas fa-paper-plane mr-2"></i>Hire Me</a>
            
            
        </div><!--//container-->
    </section>
    <section class="projects-list px-3 py-5 p-md-5">
        <div class="container">
                       
            <div class="project-cards row isotope">
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project-5.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://ramya-ecommerce-angular-app.netlify.app/" class="theme-link">E-Commerce Site App</a></h5>
                                    <p class="card-text">E-commerce developed shopping site in MEAN (MongoDB, Express, Angular & NodeJS) Stack.Here, <a href="https://ramya-ecommerce-angular-app.netlify.app/">www.E-commerce.com</a></p>
                                    <p class="card-text"><small class="text-muted">Client: Guvi</small></p>
                                </div>
                            </div>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project-2.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://ramya-url-shortener-app.netlify.app/" class="theme-link">URL Shortener MEAN</a></h5>
                                    <p class="card-text">URL Shortener developed site in MEAN (MongoDB, Express, Angular & NodeJS) Stack. You can see my project link here <a href="https://ramya-url-shortener-app.netlify.app/">www.urlShort.com</a> as well.</p>
                                    <p class="card-text"><small class="text-muted">Client: Zen</small></p>
                                </div>
                            </div>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project-3.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="https://ramya-url-shortener-app.netlify.app/" class="theme-link">URL Shortener MERN</a></h5>
                                    <p class="card-text">URL Shortener developed site in MERN(MongoDB, Express, React & NodeJS) Stack. <a href="https://ramya-url-shortener-app.netlify.app/">www.urlShort.com</a></p>
                                    <p class="card-text"><small class="text-muted">Client: Zen</small></p>
                                </div>
                            </div>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
                <div class="isotope-item col-md-6 mb-5 mobileapp frontend">
                    <div class="card project-card">
                        <div class="row no-gutters">
                            <div class="col-lg-4 card-img-holder">
                                <img src="assets/images/project-4.jpg" class="card-img" alt="image">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#" class="theme-link">Online Quiz</a></h5>
                                    <p class="card-text">Developing Online Quiz Test App using Angular with external API (Open Trivia Database)</p>
                                    <p class="card-text"><small class="text-muted">Client: Guvi</small></p>
                                </div>
                            </div>
                        </div>
                    </div><!--//card-->
                </div><!--//col-->
                
                
            </div><!--//row-->
        
        </div>
    </section>
    
    <footer class="footer text-center py-2 theme-bg-dark">
        
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by Ramya</small>
       
    </footer>

</div><!--//main-wrapper-->