<div class="main-wrapper">
    <div class="container px-3 px-lg-5">
        <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

            <div class="resume-header">
                <div class="row align-items-center">
                    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                        <h2 class="resume-name mb-0 text-uppercase">Ramya S</h2>
                        <div class="resume-tagline mb-3 mb-md-0">Software Engineer</div>
                    </div>
                    <!--//resume-title-->
                    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a class="resume-link"
                                    href="#">87541 16029</a></li>
                            <li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
                                    class="resume-link"
                                    href="mailto:ramya.btech19@gmail.com">ramya.btech19@gmail.com</a></li>
                            <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link"
                                    href="https://ramya-portfolio.netlify.app/" target="_blank">www.ramyaMelody.com</a></li>
                            <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Chennai</li>
                        </ul>
                    </div>
                    <!--//resume-contact-->
                </div>
                <!--//row-->

            </div>
            <!--//resume-header-->
            <hr>
            <div class="resume-intro py-3">
                <div class="media flex-column flex-md-row align-items-center">
                    <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto"
                        src="assets/images/profile.jpg" alt="image">
                    <div class="media-body text-left">
                        <p class="mb-0">I aspire to a position of a UI Developer where I can effectively utilize my
                            experience and skills in delivering high quality software products thus helping the growth
                            of the organization and keep upgrading myself with various emerging trends in the field. A
                            result driven and highly self-motivated person, having 5 years of work experience in the
                            field of software development and digital marketing. </p>
                    </div>
                    <!--//media-body-->
                </div>
            </div>
            <!--//resume-intro-->
            <hr>
            <div class="resume-body">
                <div class="row">
                    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
                        <section class="work-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Web Developer</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Accenture | 2016 - Present</div>

                                </div>
                                <div class="item-content">
                                    <p>Good knowledge in User Interface Design using HTML4, HTML5 and CSS/CSS3.
                                        Extensive experience using Twitter-Bootstrap Framework, Responsive design. Hands
                                        on experience in creating Web Graphics/Layouts in Adobe Photoshop and PSD to
                                        HTML Conversion. UI Development - template development, web application & mobile
                                        integration, improvements and updates.</p>
                                    <ul class="resume-list">
                                        <li>Worked in a team, Involved in developing the UI, layout and front-end
                                            programming (HTML) for web application that matches requirements of my
                                            client. </li>
                                        <li>Developed GUI using HTML/HTML5, CSS/CSS3, Javascript, Tweenlite, GASP and
                                            JQuery.</li>
                                        <li>Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript.
                                        </li>
                                        <li>Handling cross browser/platform compatibility issues (IE, Firefox, and
                                            Safari) on both Windows. </li>
                                        <li>Managing and implementing all code changes via SourceTree. Deploying builds
                                            across development, staging and production instances and maintaining code
                                            integrity. </li>
                                    </ul>
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Software Developer</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Eloka | 2016 - 2016</div>

                                </div>
                                <div class="item-content">
                                    <p>Good knowledge in User Interface Design using HTML4, HTML5 and CSS/CSS3.
                                        Extensive experience using Twitter-Bootstrap Framework, Responsive design. </p>
                                    <ul class="resume-list">
                                        <li>Worked in a team, Involved in developing the UI, layout and front-end
                                            programming (HTML) for web application that matches requirements of my
                                            client. </li>
                                    </ul>
                                </div>
                            </div>
                            <!--//item-->
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Frontend Developer</h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Fabcode | 2014 - 2016</div>

                                </div>
                                <div class="item-content">
                                    <p>Good knowledge in User Interface Design using HTML4, HTML5 and CSS/CSS3.
                                        Extensive experience using Twitter-Bootstrap Framework, Responsive design. </p>

                                </div>
                            </div>
                            <!--//item-->


                        </section>
                        <!--//work-section-->


                        <section class="project-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                            <div class="item mb-3">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">E-Commerce App
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Angular JS</div>

                                </div>
                                <div class="item-content">
                                    <p>E-commerce developed shopping site in MEAN (MongoDB, Express, Angular & NodeJS)
                                        Stack. You can see my project link here <a
                                            href="https://ramya-ecommerce-angular-app.netlify.app/"
                                            class="theme-link" target="_blank">https://ramya-ecommerce-angular-app.netlify.app/</a> as
                                        well. </p>


                                </div>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">URL Shortener Angular
                                        App
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Angular JS</div>

                                </div>
                                <div class="item-content">
                                    <p>URL Shortener developed site in MEAN (MongoDB, Express, Angular & NodeJS) Stack.
                                        You can see my project link here <a
                                            href="https://ramya-url-shortener-app.netlify.app/"
                                            class="theme-link" target="_blank">https://ramya-url-shortener-app.netlify.app/</a> as well.
                                    </p>


                                </div>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">URL Shortener React App
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        React JS</div>

                                </div>
                                <div class="item-content">
                                    <p>URL Shortener developed site in MERN(MongoDB, Express, React & NodeJS) Stack. You
                                        can see my project link here <a
                                            href="https://ramya-url-short-react-app.netlify.app/"
                                            class="theme-link" target="_blank">https://ramya-url-short-react-app.netlify.app/</a> as well.
                                    </p>


                                </div>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <div class="item-heading row align-items-center mb-2">
                                    <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Present Project
                                    </h4>
                                    <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
                                        Angular JS</div>

                                </div>
                                <div class="item-content">
                                    <p>Github App developed site using github api. You can see my project link here<a
                                        href="https://ramya-github-app.netlify.app/"
                                        class="theme-link" target="_blank">https://ramya-github-app.netlify.app/</a> as well.</p>


                                </div>
                            </div>
                        </section>
                        <!--//project-section-->
                    </div>
                    <!--//resume-main-->
                    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                            <div class="item">
                                <h4 class="item-title">Technical</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">JavaScript</li>
                                    <li class="mb-2">Angular</li>
                                    <li class="mb-2">React</li>
                                    <li class="mb-2">Python</li>
                                    <li class="mb-2">Node.js</li>
                                    <li class="mb-2">MySQL</li>
                                </ul>
                            </div>
                            <!--//item-->
                            <div class="item">
                                <h4 class="item-title">Professional</h4>
                                <ul class="list-unstyled resume-skills-list">
                                    <li class="mb-2">Effective communication</li>
                                    <li class="mb-2">Team player</li>
                                    <li class="mb-2">Problem solver</li>
                                    <li>Good time management</li>
                                </ul>
                            </div>
                            <!--//item-->
                        </section>
                        <!--//skills-section-->
                        <section class="education-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                            <ul class="list-unstyled resume-education-list">
                                <li class="mb-3">
                                    <div class="resume-degree font-weight-bold">B.Tech IT</div>
                                    <div class="resume-degree-org text-muted">Anna University, Chennai</div>
                                    <div class="resume-degree-time text-muted">2008 - 2012</div>
                                    <div class="resume-degree-time text-muted">8.0 CGPA</div>
                                </li>
                                <li>
                                    <div class="resume-degree font-weight-bold">Higher Secondary</div>
                                    <div class="resume-degree-org text-muted">State Board</div>
                                    <div class="resume-degree-time text-muted">2007 - 2008</div>
                                    <div class="resume-degree-time text-muted">86%</div>
                                </li>
                            </ul>
                        </section>
                        <!--//education-section-->

                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                            <ul class="list-unstyled resume-lang-list">
                                <li class="mb-2">Tamil <span class="text-muted">(Native)</span></li>
                                <li class="mb-2">English <span class="text-muted">(Professional)</span></li>
                                <li class="mb-2">Hindi <span class="text-muted">(Read & Write)</span></li>
                            </ul>
                        </section>
                        <!--//certificates-section-->
                        <section class="skills-section py-3">
                            <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                            <ul class="list-unstyled resume-interests-list mb-0">
                                <li class="mb-2">Chess</li>
                                <li class="mb-2">Drawing & Painting</li>
                                <li class="mb-2">Reading Books</li>
                                <li>Travelling</li>
                            </ul>
                        </section>
                        <!--//certificates-section-->

                    </aside>
                    <!--//resume-aside-->
                </div>
                <!--//row-->
            </div>
            <!--//resume-body-->
            <hr>
            <div class="resume-footer text-center">
                <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
                            href="https://github.com/RamyaMelody" target="_blank"><i class="fab fa-github-square fa-2x mr-2"
                                data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">https://github.com/RamyaMelody</span></a>
                    </li>
                    <li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
                            href="https://www.linkedin.com/in/ramya-s-871aab62/" target="_blank"><i class="fab fa-linkedin fa-2x mr-2"
                                data-fa-transform="down-4"></i><span
                                class="d-none d-lg-inline-block text-muted">https://www.linkedin.com/in/ramya/</span></a>
                    </li>

                </ul>
            </div>
            <!--//resume-footer-->
        </article>

    </div>
    <!--//container-->

    <footer class="footer text-center py-2 theme-bg-dark">

        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by Ramya</small>

    </footer>

</div>
<!--//main-wrapper-->